<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="quiz" connectionString="Data Source=DESKTOP-153RETS;Initial Catalog=quiz_application;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Quiz_Application.Properties.Settings.quiz_applicationConnectionString"
      connectionString="Data Source=DESKTOP-153RETS;Initial Catalog=quiz_application;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>